@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


html {
  align: center;
  margin-left: auto;
}

.wrap {
  -background-color: rgb(50,50,50);
  border: none;
  display: grid;
  grid-template-columns: 1fr 200px;
  position: relative;
  align-self: center;
}


.main {
  background-color: #fff;
  align-self: center;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.back {
  background-color: inherit;
  text-align: right;
  border: none;
}


.back a {
  text-align: right;
  color: #aaa;
}

.side {
  background-color: #f2e3c4;
  border: 1px solid;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.dis {
  background-color: #f9f5ed;
  border: none;
  border-bottom: 3px double;
  border-top: 3px double;
  padding: 5px;
  -margin:1px;
}




/*
figure {
  border: 1px solid;
}
img:hover {
  opacity: 0.7;
}
*/

figure {
  display: inline-block;
  float: right;
}

figcaption {
  visibility: visible;
  text-align: center;
}

.mg img {
  max-width: 50%;
  height: auto;
  padding: 10px;
}

img {
  max-width: 70%;
  height: auto;
  padding: 10px;
}

body {
  color: rgb(70,70,70);
  background-color: rgb(240,240,240);
  font-family: "Roboto", "Arial", sans-serif;
  max-width: 1200px;
}

header {
  border-style:double;
  background-color: #fff;
  border-radius: 10px;
}

h1, h2 {
  margin-left: 50px;
  background-color: #fff;
}

.main h3 {
  font-size: 40px;
  font-family: "Roboto", "Arial", sans-serif;
}

.main ul li {
  list-style: circle;
}

.main ul title {
  visibility: visible;
}

div {
  border: 1px solid;
  padding-bottom: 20px;
}

section:first-child {
  border-bottom: none;
  padding-bottom: 50px;
}

section {
  margin-left: 50px;
  margin-right: 50px;
  font-family: "Roboto", "Arial", sans-serif;
  overflow:visible;
  display: run-in;
  border-bottom: 1px dashed;
  padding-bottom: 10px;
  padding-top: auto;
}

section p {
  font-size: 12pt;
}

section li a:default {
  color: black;
}
section li a {
  color: black;
}
section li a:visited {
  color: black;
}

section li {
  list-style-type: none;
}

nav {
  background-color: #c98a04;
  border: 1px solid;
  border-bottom: none;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding-top: 0.1px;
  padding-bottom: 0.1px;
}

nav li {
  list-style: none;
  border-left: 0.5px dashed rgb(255,255,255);
  padding-right: 5px;
  padding-left: 3px;
  overflow: hidden;
  display:inline-block;
  font-size: 20px;

}

nav li a:default {
  color: white;
}

nav li a {
  color: white;
}

nav li:hover {
  background-color: #bcb19a;
}

aside {
  background-color: #f2e3c4;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

aside nav {
  background-color: #f2e3c4;
  position: relative;
  padding-left: 5px;
  text-align: left;
  border: none;
}

aside nav ul {
  padding-left: 5px;
  color: #f4d2b2
}

aside nav li {
  list-style-type: none;
  display: list-item;
  background-color: #f2e3c4;
  padding: 5px;
}

aside nav ul li:hover {
  background-color: #f4e3d2;
}

aside nav li a:default {
  color: rgb(50,50,50);
  list-style-type: none;
}

aside nav li a {
  color: rgb(50,50,50);
  list-style-type: none;
}

aside nav li a:visited {
  color: #0039f7;
  list-style-type: none;
}

aside nav li a:hover {
  background-color: #f4e3d2;
  color: #0039f7;
  list-style-type: none;
}

footer {
  padding: 10px;
}
