body {
  font-family: "Verdana", "Arial", sans-serif;
}

header {
  background-color: rgba(0, 50, 30, 0.5);
  border: 5px dashed rgb(69,105,159);
}

#Intro{
  background-color: rgba(251, 0, 0, 0.5);
  border: 1px solid rgb(69,105,159):
}

s/ection {
  margin-bottom: 16px;
  padding: 16px;
  background-color: rgba(231,209,75,0.15);
