@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


html {
  align: center;
  margin-left: auto;
}

.wrap {
  background-color: rgb(50,50,50);
  display: grid;
  grid-template-columns: 1fr 150px;
  position: relative;
  align-self: center;
}


.main {
  -left: 160px;
  -margin-right: 140px;
  -max-width: 700px;
  background-color: #fff;
  align-self: center;
}

.back {
  background-color: inherit;
  text-align: right;
}


.back a {
  text-align: right;
  color: #aaa;
}

.side {
  background-color: #bbb;
}




/*
figure {
  border: 1px solid;
}
img:hover {
  opacity: 0.7;
}
*/

figcaption {
  visibility: hidden;
}

img {
  max-width: 70%;
  height: auto;
  float: right;
  padding: 10px;
}

body {
  color: rgb(70,70,70);
  background-color: rgb(240,240,240);
  font-family: "Roboto", "Arial", sans-serif;
  max-width: 1200px;
  -align-self: center;
}

header {
  border-style: groove;
  background-color: #fff;
}

h1, h2 {
  margin-left: 50px;
  -margin-right: 50px;
  background-color: #fff;
}

div {
  border: 1px solid;
  -max-width: 8.5in;
  -margin-left: 1in;
  -margin-right: 1in;
  -padding-top: 20px;
  padding-bottom: 20px;
  -background-color: #fff;
  -border-bottom-right-radius: 10px;
  -border-bottom-left-radius: 10px;
}

section:first-child {
  border-bottom: none;
  padding-bottom: 50px;
}

section {
  margin-left: 50px;
  margin-right: 50px;
  font-family: "Roboto", "Arial", sans-serif;
  overflow:visible;
  display: run-in;
  border-bottom: 1px dashed;
  padding-bottom: 10px;
  padding-top: auto;
}

section p {
  font-size: 12pt;
}

section li a {
  color: black;
}
section li a:visited {
  color: black;
}

section li {
  list-style-type: none;
  -max-width: 500px;
  -padding: 3px;
  -list-style-position: outside;
}

nav {
  background-color: rgb(50,50,50);
  -max-width: 7.52in;
  padding-left: 50px;
}

nav li {
  list-style: none;
  border-left: 0.5px dashed rgb(255,255,255);
  padding: 5px;
  overflow: hidden;
  display:inline-block;
  background-color: rgb(50,50,50);

}

nav li a {
  color: white;
}

nav li:hover {
  background-color: grey;
}

aside {
    background-color: #bbb;
}
aside nav {
  background-color: #bbb;
  position: relative;
  padding-top: 100px;
  padding-left: 5px;
}

aside nav li {
  list-style-type: none;
  background-color: #bbb;
  padding: 5px;
}

aside nav li a {
  color: rgb(50,50,50);
  list-style-type: none;
}


footer li {
  list-style: none;
  display:inline-flex;
}

/*

footer {
  margin-top: 10px;
  max-width: 8.5in;
  text-align: center;
  margin-bottom: 10px;
  spacing: 5px;
  -margin-left: 1in;
  -margin-right: 1in;
}

ul {
  list-style: none;
  display: inline-block;
  align: left;
  border: 1px solid;
  margin-right: 40px;
}

ul li {
  padding: 5px;
  align: left;
}


.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-style: hidden;
  column-gap: 5px;
}

#due {
  text-align: center;
}
*/
