body {
  font-family: "Verdana", "Arial", sans-serif;
  padding:10em;
  background: #eee;
  grid-template-columns: 1fr 2fr;
}

section:nth-child(even){
  background-color: #ccc;
  border: 1px solid rgb(69,105,159);
}

section:nth-child(odd){
  background-color: #fff;
  border: 1px solid rgb(69,105,159);
}

#wrapper{
  background-color: rgba(230,255,255);
  border: 5px solid rgb(69,105,159);
  margin: 5em;
}

header {
  background-color: rgba(230,255,255);
  border: 5px solid rgb(69,105,159);
  margin-bottom: 16px;
  padding: 16px;
}
