body {
  font-family: "Verdana", "Arial", sans-serif;
  padding:10em;
}

#wrapper{
  background-color: rgba(230,255,255);
  border: 5px solid rgb(69,105,159);
  padding:3em;
}

body:nth-child(odd){
  background: rgba(100,155,155)
}
